
.LOGIN {
    display: block;
    border: solid 3px;
    border-radius: 20px;
    margin: 2px auto;
    margin-top: 20vh;
    padding: 30px;
}
.LOGIN input {
    fontSize: 24px;
    display: block;
    width: 70%;
    padding: 10px;
    margin: 30px auto;
    backgroundColor: beige;
    border: solid 3px;
}

.LOGIN button {
      display: block;
      width: 40%;
      fontsize : 28px;
      border-radius: 20px;
      border: solid 3px;
      margin: 2px auto;
      padding: 2px;
}
