.LOGIN {
    display: block;
    border: solid 3px;
    border-radius: 20px;
    margin: 2px auto;
    margin-top: 20vh;
    padding: 30px;
}
.LOGIN input {
    font-size: 24px;
    display: block;
    width: 70%;
    padding: 10px;
    margin: 30px auto;
    background-color: beige;
    border: solid 3px;
}

.LOGIN button {
      display: block;
      width: 40%;
      font-size : 28px;
      border-radius: 20px;
      border: solid 3px;
      margin: 2px auto;
      padding: 2px;
}

.SHIFT_IDENTITY{
    margin: 0px;
    padding: 0px;
    display: flex;
    font-size: large;
}

.SHIFT_IDENTITY div{
    display: inline-block;
    font-size: 18px;
    margin: 5px auto;
    padding: 5px;
    border-bottom: 2px solid;
}

.MAJOR_UPDATE {
    display: block;
    background-color: lightyellow;
    border: 2px solid;
    border-radius: 200px;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
}

.MAJOR_UPDATE h1 {
    font-size: 28px;
    margin: 5%;
    padding: 1%;
}


.MAJOR_UPDATE p {
    font-size: 22px;
    margin: 5%;
    padding: 1%;
}
