.ABOUT {
      background-color: lightyellow,
      position: absolute;
      top: 0px;
      left: 0px;
      width: 15%;
      height: 8%;
      padding: .5em;
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
}

.ABOUT .about-in {
      display: none;
}

.ABOUT:hover .about-in {
      display: inline-block;
}

.LOGOUT{
      background-color: lightyellow,
      position: absolute;
      top: 0px;
      right: 0px;
      width: 15%;
      height: 8%;
      padding: .5em;
      border-left: 2px solid;
      border-bottom: 2px solid;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
}

.PASSWORD_UPDATE{
    display: block;
    background-color: lightyellow;
    border: 2px solid;
    border-radius: 200px;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
}

.PASSWORD_UPDATE input {
    font-size: 20px;
    margin: 5%;
    padding: 1%;
}
